<div class="footer-site-level-address clearfix">
    <div class="d-flex text-start flex-column-reverse justify-content-center">
        {% include "themes/custom/du_bootstrap/templates/misc/icon.twig" with { "icon_class": "location" } %}
        <div class="text-left">
            <p>{{ office }}</p>
            <p>{{ division }}</p>
            <p>{{ university }}</p>
            <p>{{ address1 }}</p>
            <p>{{ address2 }}</p>
        </div>
    </div>
</div>