{% if not is_home %}
  <div class="hero-media {% if hero_image is empty %}hero-image-empty {% endif %}{% if hero_embed is not empty %}hero-embed-wrapper{% endif %}">
    {% block experiential_story %}
      {% if experiential_story %}
        {{ experiential_story }}
      {% endif %}
    {% endblock %}

    {%  block hero_video %}
      {% if hero_video %}
        {% include "themes/custom/du_bootstrap/templates/misc/video.twig" with hero_video %}
      {% endif %}
    {%  endblock %}
    {%  block hero_image %}
      {% if hero_image %}
        {{ hero_image }}
      {% endif %}
    {%  endblock %}
    {% block hero_embed %}
      {% if hero_embed %}
        <div class="hero-embed">{{ hero_embed|raw }}</div>
      {% endif %}
    {% endblock %}
    {% if hero_background %}<div class="hero-background{% if hero_image %} hero-overlay{% endif %}"></div>{% endif %}
    {% if hero_headline %}
      <div class="hero-headline-wrapper">
        <div class="hero-headline">{{ hero_headline }}</div>
        <div class="hero-subhead">{{ hero_subhead }}</div>
      </div>
    {% endif %}
  </div>
  {% if not hide_hero_caption %}
    <div class="hero-media__caption" id="hero-media__caption">
      <div class="row">
        {% if hero_caption %}
          <div class="col-12 offset-lg-4 col-lg-8 row-mw-120 justify-content-end">
            <div class="hero-media__caption__text">
              <a data-bs-toggle="collapse"
                 href="#hero-media__caption"
                 aria-expanded="false"
                 aria-controls="hero-media__caption">
                <p>{{ hero_caption|raw }}</p>
                <p class="hero-media__caption__toggler">
                  <span class="visually-hidden">Toggle Caption</span>
                  <span class="icon-du-plus"></span>
                  <span class="icon-du-minus"></span>
                </p>
              </a>
            </div>
          </div>
        {% endif %}
        <div class="col-12">
          {% if headline %}
            {% include "themes/custom/du_bootstrap/templates/navigation/headline.twig" with headline %}
          {% endif %}
          {% if hero_link['0'].title is not empty %}
            {% for item in hero_link %}
                {% include "themes/custom/du_bootstrap/templates/misc/link.twig" with item %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}

{% if is_home and not (hero_class == "content-card") %}
  <div class="hero-media unit-hero-media {% if hero_image is empty %}hero-image-empty {% endif %}{% if hero_embed is not empty %}hero-embed-wrapper{% endif %}{% if unit_hero_embed is not empty %}hero-embed-wrapper{% endif %}">
      {% if hero_video %}
        {% include "themes/custom/du_bootstrap/templates/misc/video.twig" with hero_video %}
      {% endif %}
      {% if hero_image %}
        {{ hero_image }}
        {% else %}
          <img src="/themes/custom/du_bootstrap/images/hero-image.jpg" />
      {% endif %}
      {% if hero_embed %}
        <div class="hero-embed">{{ hero_embed|raw }}</div>
      {% endif %}
      {% if unit_hero_embed %}
        <div class="hero-embed">{{ unit_hero_embed|raw }}</div>
      {% endif %}
    {% if hero_background %}<div class="hero-background{% if hero_image %} hero-overlay{% endif %}"></div>{% endif %}
  </div>
  {% if not hide_hero_caption %}
    <div class="hero-media__caption" id="hero-media__caption">
      <div class="row">
        <div class="col-12">
          {% if headline %}
            {% include "themes/custom/du_bootstrap/templates/navigation/headline.twig" with headline %}
          {% endif %}
          {% if hero_link['0'].title is not empty %}
            {% for item in hero_link %}
                {% include "themes/custom/du_bootstrap/templates/misc/link.twig" with item %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}

{% if is_home and (hero_class == "content-card") %}
<div class="hero-media {{ hero_class }} unit-hero-media {% if hero_image is empty %}hero-image-empty {% endif %}{% if hero_embed is not empty %}hero-embed-wrapper{% endif %}">
  <div class="col">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-9">
        {% if hero_video == true %}
          <div {{attributes.addClass('has-video')}}>
            {% if hero_video %}
              {% include "themes/custom/du_bootstrap/templates/misc/video.twig" with hero_video %}
            {% endif %}
          </div>
        {% endif %}
        {% if hero_embed %}
          <div class="hero-embed">{{ hero_embed|raw }}</div>
        {% endif %}
        {% if hero_image %}
          {{ hero_image }}
        {% else %}
          <img src="/themes/custom/du_bootstrap/images/hero-image.jpg" />
        {% endif %}
      </div>
      <div class="col-12 col-md-12 col-lg-3">
        <div class="content-wrapper">
          {% if headline %}
            {% include "themes/custom/du_bootstrap/templates/navigation/headline.twig" with headline %}
          {% endif %}
          {% if hero_caption %}
            <p>{{ hero_caption }}</p>
          {% endif %}
          {% if hero_link['0'].title is not empty %}
            {% for item in hero_link %}
                {% include "themes/custom/du_bootstrap/templates/misc/link.twig" with item %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if hero_title %}
    {% include "themes/custom/du_bootstrap/templates/misc/hero-media-title-unit.twig" %}
{% endif %}
{% if hero_items %}
  {% include "themes/custom/du_bootstrap/templates/misc/hero-media-items.twig" with hero_items %}
{% endif %}
